:root {
    --color-font: #000;
    --color-back-main: #f2f2f7;
    --color-back-main-2: #007AFF;
    --color-back-main-3: rgba(0, 0, 0, 0.5);
    --color-message-back-main-1: #007AFF;
    --color-message-back-main-2: #f2f2f7;
    --color-font-1: white;
    --color-font-2: #2C2C2E;
    --color-font-3: #666668;
    --color-font-4: #3d3d3d;
    --color-font-error: rgb(214, 3, 3);
    --color-chat: #fff;
    --color-font-main: #000;
    --color-font-2: #fff;
    --color-button: #f2f2f7;
    --color-button-2: #fff;
    --color-font-button: #007AFF;
    --color-font-link: #000;
    --color-line: #E8E8E8;
    --color-line-2: #000;
    --color-line-3: #bebebe;
    --color-icon: #007AFF;
    --color-back-icon: #f4f4f4;
}